.burger {
  z-index: 30;
  display: none;
  width: 30px;
  height: 20px;
  border: none;
  margin-right: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @include high-tablet{
    display: block;
  }

  &__line {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 5px;
    background-color: #000;
    transition: all 0.3s ease-in-out;

    @include mb(7px);
  }
}

.burger.active {
  transition-delay: 0.8s;
  transform: rotate(45deg);
}

.burger.active > .burger__line:nth-child(2) {
  width: 0;
}

.burger.active > .burger__line:nth-child(1),
.burger.active > .burger__line:nth-child(3) {
  transition-delay: 0.4s;
}

.burger.active > .burger__line:nth-child(1) {
  transform: translateY(9px);
}

.burger.active > .burger__line:nth-child(3) {
  transform: translateY(-9px) rotate(90deg);
}
