.create-task {
  padding: 30px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: $color-white;
  max-width: 450px;
  margin-right: 30px;
  transition: transform 0.6s ease-in-out;

  @include high-tablet {
    top: 1px;
    // display: none;
    position: absolute;
    z-index: 1000;
    transform: translateY(-200%);
    max-width: 100%;
  }
}
.create-task--visible {
  transform: none;
}

.form {
  &__list {
    @include flex-dir;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__title {
    text-align: center;
    font-size: 21.14px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

.task__settings {
  &-name {
    @include flex-dir;

    input {
      margin: 0 auto;
      width: 300px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 13px;
      border-radius: 4px;
      @include mobile {
        width: 200px;
      }
    }
  }
  &-color {
    @include flex-dir;
    input {
      margin: 0 auto;
    }
  }
  &-title {
    @include flex-all-center;

    font-size: 19px;
    color: $color-dark;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    @include mobile {
      margin-bottom: 5px;
    }
  }

  &-deadline {
    display: flex;
    flex-wrap: wrap;
  }

  &-button {
    @include flex-all-center;
    margin: 0 auto;
    width: 200px;
    height: 40px;
  }
}

.deadline {
  &__list {
    width: 100%;
    @include flex-all-center;
    margin-bottom: 30px;
  }

  &__item {
    @include flex-all-center;
    margin-right: 15px;

    label {
      cursor: pointer;
    }
  }
}
