.footer{
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  background-color: $color-white;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

  @include high-tablet{
    position: absolute;
  }
}
.today{
  font-size: 20px;
  &__day{
    font-weight: 600;
  }
}