.footer{
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  @include shadow;
  
  @include high-tablet{
    position: absolute;
  }
}
.today{
  font-size: 20px;
  &__day{
    font-weight: 600;
  }
}