.header{
  margin-bottom: 30px;
  padding: 20px 0;

  &__wrapper{
    display: flex;
    align-items: center;
  }

  &__title{
    margin-left: 20px;
    font-size: 40px;

    @include mobile{
      font-size: 30px;
      margin-left: 10px;
    }
  }
}


.clock{
  margin-left: auto;
  font-size: 18px;

  &__session{
    font-size: 14px;
    font-weight: 600;
  }
}