$color-dark: rgb(30,30,30);
$color-white: rgb(255,255,255);

$color-purple: #3d3270;
$color-blue: #424ce2;
$color-lighblue: #2196f3;
$color-lightpurple: #9c28b1;
$color-pink: #e91d62  ;
$color-red: #f34336;
$color-yellow: #ffb800;
$color-green: #21c228;

$font-family: 'Poppins', sans-serif;



